<h1 class="title index__title">Визиты сегодня</h1>
  <table border="'1" cellspacing="0" cellpadding="3" class="table table-striped">
    <thead>
      <tr>
        {% if request.user.groups.all.0.name == 'Директор' or request.user.groups.all.0.name == 'Управляющий' %}
        <th>Сотрудник</th>
        {% endif %}
        <th>Клиент</th>
        <th>Основной продукт</th>
        <th>Комментарий</th>
      </tr>
    </thead>
    <tbody>
      {% if visits %}
      {% for visit in visits %}
      <tr>
        {% if request.user.groups.all.0.name == 'Директор' or request.user.groups.all.0.name == 'Управляющий' %}
        <td>{{ visit.employee }}</td>
        {% endif %}
        <td><a class="table__link" href="{% url 'visit_form' visit.pk %}">{{ visit.last_name_client }} {{ visit.first_name_client }} {{ visit.middle_name_client }}</a></td>
        <td>{{ visit.main_product }}</td>
        <td>{{ visit.total_comment }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>